/*--BODY--*/
@media screen and (max-width:690px){

    body{
        position:relative
    }
}

/*--HEADER--*/


@media screen and (max-width:1040px){

    header{
        grid-template-columns: 10% 1fr 30%;
        font-size:1rem
    }
}

@media screen and (max-width:690px){

    header{
        grid-template-columns:1fr;
        font-size:1rem;
        background: none;
        min-height: 5rem;
    }

    header img {
        max-height: 100%;
    }

    .menu-container, .darkmode-container{
        display:none;
    }

    .burger-container{
        display:flex;
        
    }
}


/*--NAVIGATION FLOTTANTE--*/
@media screen and (max-width:970px){

    .navig-right{
        display: none;
    }
}

/*--MAIN BANNER--*/

@media screen and (max-width:970px){

    .main-banner{
        grid-template-columns: 10% 1fr;
        background:linear-gradient();
    }

    .main-banner p{
        display: inline-block;
        background: #000000bd;
        max-width: max-content;
        padding: 10px;
    }

    

    .main-banner img{
        opacity:.25
    }
}

@media screen and (max-width:690px){

    .main-banner{
        grid-template-columns: 1fr;
        height: auto;
    }

    .main-banner-robot{
        display: none;
    }

    .main-banner-text{
        padding:4rem 2rem;
    }

}

/*--PRESENTATION--*/

@media screen and (max-width:970px){
    .prez-texte, .prez-icones{
        padding:0;
    }
}

@media screen and (max-width:690px){

    .prez{
        padding:4rem 2rem;
        display: block;
    }

    .prez-texte, .prez-icones{
        padding:0;
    }

}