/*--NAVIGATION FLOTTANTE--*/

.navig-right{
    position: fixed;
    bottom: 50px;
    left: 50px;
    background: rgb(194 121 235 / 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    border-radius: 500px;
    box-shadow:0px 0px 55px rgb(77 16 88 / 41%);
    z-index:99

}

.navig-item{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--purple1);
    border: 4px solid var(--purple2);
    box-sizing: border-box;
    
}

.navig-item:hover{
    cursor:pointer;
    transform:scale(1.2);
    transition:all .4s
}

.navig-right .active{
    background: var(--white);
}

.navig-jonction{
    width:4px;
    height:20px;
    background:var(--purple2)
}

/* --- CUSTOM SCROLLBAR ---*/

/* width */
.xp-slider-container::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  .xp-slider-container::-webkit-scrollbar-track {
    background: var(--dark2);
    
  }
  
  /* Handle */
  .xp-slider-container::-webkit-scrollbar-thumb {
    background:var(--red);
    width: 3vw;
  }
  
  /* Handle on hover */
  .xp-slider-container::-webkit-scrollbar-thumb:hover {
    background: var(--red);
  }

  /* --- CUSTOM SCROLLBAR ---*/