:root {
    --dark1: #26283B;
    --dark2: #0E0000;
    --red:#F81475;
    --white:#fff;
    --corail:#3FDDF6;
    --purple1:#C279EB;
    --purple2:#4D1058
  }

*{
    margin:0;
    padding:0
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color:#fff;
    background-image:url('../img/main-banner.jpg');
    background-color:var(--dark2);
    background-repeat: no-repeat;
    width:100%;
    overflow-x: hidden;
}


/*----COMMUNS-----*/

h1{
    font-weight:900;
    font-size:50px;
    text-transform: uppercase;
    text-shadow: 4px 3px 3px #08153a;
}

h1 span{
    color:var(--red);
    font-size:37px
}

h2{
    font-size: 40px;
    margin-bottom:40px;
}

h2 span{
    border-bottom:6px solid red;
    padding-bottom:10px
}

h3{
    font-size: 20px;
    font-weight: 900;
    padding:10px 0px
}



.btn-red{
    background:var(--red);
    color:#fff;
    font-size:16px;
    text-decoration: none;
    padding:15px;
    border-radius: 2px;
    margin:36px 0;
}

/*-----HEADER------*/

header{
    background: var(--dark1);
    display: grid;
    grid-template-columns: 10% 1fr 20%;
    font-size:1rem;
    min-height: 60px;
}

/*--burger---*/

.burger-container{
    display:none;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0px;
    left:0px;
    height:5rem;
    width:60px;
}

.burger{
    display:block;
    width:60%;
    transform-origin: left;
}

.burger div{
    height: 4px;
    margin: 8px auto;
    background: var(--white);
    border-radius: 500px;
    width: 84%;
}

.burger:hover{
    cursor:pointer;
    
}

@keyframes skewin {
    from {
      background:var(--white);

    }
  
    to {
        background:var(--red);
    }
  }

.burger:hover div{
    animation: skewin .5s ease-out forwards;
}

/*---logo---*/

header img{
    max-height: 35px;
}

/*---menu---*/

header>*, header ul{
    display: flex;
    align-items: center;
    justify-content: center
}

header ul{
    list-style-type: none;
    justify-content: space-evenly;
    width:60%;
    margin:auto
}

header li{
    padding:0px 10px
}

header li a{
    color:var(--white);
    text-decoration: none;
}

header li a:hover{
    color:var(--red);
    text-decoration: none;
}


.menu-container{
    font-size:14px;
    font-weight:600;
    padding:20px 0px
}

/*--menu mobile--*/

.menu-mobile{
    width: 66vw;
    background: var(--dark1);
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    transform:translateX(-100%) scale(.5);
    transition: transform .2s ease-in;
    box-shadow:4px 3px 14px #08153a;
    z-index:99
}

.close-container{
    text-align:right
}

.close-container img{
    max-height:35px;
    padding:1rem
}

.close-container img:hover{
    transform: scale(1.1);
    transition: ease-in;
    cursor:pointer
}

.links-container{
    padding: 0rem 3rem
}

.links-container li{
    list-style-type: none;
    padding: 2rem 0;
    border-top: 1px dashed #38384a;
    font-weight: 900;
    font-size:.9rem
}

.links-container li a{
    color:var(--white);
    text-decoration: none;
}

.links-container li a:hover{
    color:var(--red);
    transition-duration: 4s;
}

.links-container li:nth-child(1){
    border-top:none
}

/*--darkmode--*/
.darkmode-container{
   font-size:.8rem
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: 50px;
	width: 42px;
	height: 22px;
	background: var(--dark1);
	display: block;
	border-radius: 100px;
    border: 1px solid var(--red);
	position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 18px;
    height: 18px;
    background: #F81475;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + label {
	background: var(--red);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
    background:var(--dark2);
}

label:active:after {
	width: 130px;
}

/*--NAVIGATION FLOTTANTE--*/

.navig-right{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: rgb(194 121 235 / 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    border-radius: 500px;
    box-shadow:0px 0px 55px rgb(77 16 88 / 41%);
    z-index:99

}

.navig-item{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--purple1);
    border: 4px solid var(--purple2);
    box-sizing: border-box;
    
}

.navig-item:hover{
    cursor:pointer;
    transform:scale(1.2);
    transition:all .4s
}

.navig-right .active{
    background: var(--white);
}

.navig-jonction{
    width:4px;
    height:20px;
    background:var(--purple2)
}

/*--MAIN BANNER --*/

.main-banner{
    height: 80vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-banner-robot{
    text-align:center
}


#robot{
    height:85vh;
    width:auto;
    transform:translateY(20vh);
    transition-duration: 1s;
    pointer-events: none;
}

.main-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index:2
}


.main-banner p span{
    background-color: var(--purple2);
    color:var(--purple1);
    font-weight:900
}


/*--PRESENTATION --*/

.prez{
    background: var(--dark2);
    padding:5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.prez >*{
    padding: 0 4rem;
}

.prez p{
    margin:18px 0;
}

.prez-texte p:last-child{
    margin:44px 0;
}


.prez-icones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prez li {
    list-style-type: none;
    background: var(--dark1);
    display: inline-flex;
    height: 65px;
    width: 65px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}


.prez img{
    width: 80%;
    height: auto
}

.xp{
    padding:5rem 0rem 5rem 9rem;
    background: var(--dark1);
}

.xp-slider-container{
    overflow-x: hidden;
    position: relative;
    width:100%;
    display: flex;
    
}


.xp-slider-container div{
    background: var(--dark2);
    min-width: 30vw;
    margin: 10px;
    padding: 30px;
    box-sizing: border-box;
}

.xp-slider-container div:first-child{
    margin: 10px 10px 10px 0px;
}

.xp-date{
    font-size:14px;
    font-weight:900
}

.xp-boite {
    font-size: 18px;
    margin-bottom: 25px;
}

.xp-slider-container div span{
    margin: 0px 10px 10px 0px;
    background: var(--corail);
    padding: 10px 15px;
    font-size: 12px;
    display: inline-block;
    border-radius: 32px;
}





