:root {
    --dark1: #26283B;
    --dark2: #0E0000;
    --red:#F81475;
    --white:#fff;
    --purple1:#C279EB;
    --purple2:#4D1058
  }

*{
    margin:0;
    padding:0
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color:#fff;
    background-image:url('../img/main-banner.jpg');
    background-color:var(--dark2);
    background-repeat: no-repeat;
    width:100%;
    overflow-x: hidden;
}

/*-----HEADER------*/

header{
    background: var(--dark1);
    display: grid;
    grid-template-columns: 10% 1fr 20%;
    font-size:1rem;
    min-height: 60px;
}

/*--burger---*/

.burger-container{
    display:none;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0px;
    left:0px;
    height:5rem;
    width:60px;
}

.burger{
    display:block;
    width:60%;
    transform-origin: left;
}

.burger div{
    height: 4px;
    margin: 8px auto;
    background: var(--white);
    border-radius: 500px;
    width: 84%;
}

.burger:hover{
    cursor:pointer;
    
}

@keyframes skewin {
    from {
      background:var(--white);

    }
  
    to {
        background:var(--red);
    }
  }

.burger:hover div{
    animation: skewin .5s ease-out forwards;
}

/*---logo---*/

header img{
    max-height: 35px;
}

/*---menu---*/

header>*, header ul{
    display: flex;
    align-items: center;
    justify-content: center
}

header ul{
    list-style-type: none;
    justify-content: space-evenly;
    width:60%;
    margin:auto
}

header li{
    padding:0px 10px
}

header li a{
    color:var(--white);
    text-decoration: none;
}

header li a:hover{
    color:var(--red);
    text-decoration: none;
}


.menu-container{
    font-size:14px;
    font-weight:600;
    padding:20px 0px
}

/*--menu mobile--*/

.menu-mobile{
    width: 66vw;
    background: var(--dark1);
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    transform:translateX(-100%) scale(.5);
    transition: transform .2s ease-in;
    box-shadow:4px 3px 14px #08153a;
    z-index:99
}

.close-container{
    text-align:right
}

.close-container img{
    max-height:35px;
    padding:1rem
}

.close-container img:hover{
    transform: scale(1.1);
    transition: ease-in;
    cursor:pointer
}

.links-container{
    padding: 0rem 3rem
}

.links-container li{
    list-style-type: none;
    padding: 2rem 0;
    border-top: 1px dashed #38384a;
    font-weight: 900;
    font-size:.9rem
}

.links-container li a{
    color:var(--white);
    text-decoration: none;
}

.links-container li a:hover{
    color:var(--red);
    transition-duration: 4s;
}

.links-container li:nth-child(1){
    border-top:none
}

/*--darkmode--*/
.darkmode-container{
   font-size:.8rem
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: 50px;
	width: 42px;
	height: 22px;
	background: var(--dark1);
	display: block;
	border-radius: 100px;
    border: 1px solid var(--red);
	position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 18px;
    height: 18px;
    background: #F81475;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + label {
	background: var(--red);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
    background:var(--dark2);
}

label:active:after {
	width: 130px;
}

/*--MAIN BANNER --*/

.main-banner{
    height: 80vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-banner-robot{
    text-align:center
}


main img{
    height:85vh;
    width:auto;
    transform:translateY(20vh);
    transition-duration: 1s;
    pointer-events: none;
}

.main-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index:2
}

h1{
    font-weight:900;
    font-size:50px;
    text-transform: uppercase;
    text-shadow: 4px 3px 3px #08153a;
}

.main-banner p span{
    background-color: var(--purple2);
    color:var(--purple1);
    font-weight:900
}

h1 span{
    color:var(--red);
    font-size:37px
}

/*--PRESENTATION --*/

.presentation{
    background: var(--dark2);
    padding:5rem
}